body {
	font-size: 14px;
	font-family: sans-serif;
	background: #E6E6E6;
}

.wrapper {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.mwstew-ui-title {
	margin: 1em 0 1em 0;
}
.mwstew-ui-title-main {
	font-size: 1.8em;
	display: block;
}
.mwstew-ui-title-subtitle {
	font-size: 1.2em;
	display: block;
}

.mwstew-ui-form {
}

.mwstew-ui-form .oo-ui-fieldsetLayout {
	border-radius: 0.5em;
	background: #F5F5F5;
	border: 1px solid #B3B3B3;
	padding: 1em;
}
