	/**
	 * This hook is called just prior to outputting the page
	 * content, but after the usual header content (page title,
	 * site sub-title, redirect message, etc.) have been output.
	 * It allows you to add additional content as part of this
	 * article header, e.g. a breadcrumb trail.
	 * If you want to add custom output, you need to add a global
	 * declaration for $wgOut and then use that object to output
	 * your content (e.g. $wgOut->addHTML('<div>This is the page
	 * header.</div>');).
	 * Note that this hook is not called on non-article pages
	 * (including edit pages) and it is also not called prior to
	 * outputting the edit preview.
	 *
	 * @see https://www.mediawiki.org/wiki/Manual:Hooks/ArticleViewHeader
	 *
	 * @param array &$article The article object
	 * @param boolean &$outputDone If there is no more output
	 *  to output, set $outputDone to true.
	 * @param string &$pcache If you want the parser cache to
	 *  try retrieving cached results, set $pcache to done.
	 */
	public static function onArticleViewHeader( &$article, &$outputDone, &$pcache ) {
		/* Your code here */
	}
