.mwstew-ui-descriptionFieldLayout {
	margin-bottom: 0.5em !important;

	&-field {
		vertical-align: top !important;
		padding-top: 0.25em !important;
	}

	.oo-ui-fieldLayout-body > .oo-ui-labelElement-label {
		width: 100%;
	}

	&-label {
		&-title {
			font-weight: bold;
			display: inline-block;
		}

		&-link {
			float: right;
		}

		&-desc {
			display: block;
			color: #666666;
			font-size: 0.8em;
			font-weight: normal;
		}
	}
}
