.mwstew-ui-prefixedTextInputWidget {
	display: table;

	&-row {
		display: table-row;
	}

	&-prefix {
		display: table-cell;
		vertical-align: middle;
		padding: 0 0.5em;
		border: 1px solid #cccccc;
		border-right: 0;
		background-color: #ffffff;
	}

	&-input {
		display: table-cell;
		vertical-align: middle;
	}
}
