body {
  font-size: 14px;
  font-family: sans-serif;
  color: #333;
  background: #FFF8EF;
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.mwstew-ui-forkgithub img {
  position: fixed;
  top: 0;
  /* @noflip */
  right: 0;
  border: 0;
}
.mwstew-ui-form .oo-ui-fieldsetLayout {
  border-radius: 0.5em;
  background: #ffffff;
  border: 1px solid #B3B3B3;
  padding: 1em;
}
.mwstew-ui-form .oo-ui-fieldsetLayout > .oo-ui-labelElement-label {
  font-size: 1.3em;
}
.mwstew-ui-form-fieldsets-submit {
  text-align: center;
}
.mwstew-ui-prefixedTextInputWidget {
  display: table;
}
.mwstew-ui-prefixedTextInputWidget-row {
  display: table-row;
}
.mwstew-ui-prefixedTextInputWidget-prefix {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0.5em;
  border: 1px solid #cccccc;
  border-left: 0;
  background-color: #ffffff;
}
.mwstew-ui-prefixedTextInputWidget-input {
  display: table-cell;
  vertical-align: middle;
}
.mwstew-ui-pageHeadSectionWidget {
  width: 100%;
  background-color: #777777;
  height: 250px;
  margin-bottom: 2em;
}
.mwstew-ui-pageHeadSectionWidget-title {
  position: relative;
  top: 125px;
  text-shadow: rgba(0, 0, 0, 0.6) 0 1px 2px;
  text-align: center;
  color: #FFF8EF;
}
.mwstew-ui-pageHeadSectionWidget-title-main {
  display: block;
  font-size: 4em;
  font-weight: bold;
}
.mwstew-ui-pageHeadSectionWidget-title-sub {
  display: block;
  font-size: 1.5em;
}
